/** @format */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-size: clamp(16px, 1.56vw, 30px);
  // header list
  &__list {
    display: flex;
    list-style: none;
    margin-left: 20px;
    gap: clamp(10px, 5vw, 44px);
    justify-content: space-between;
  }
  // header title
  &__title {
    font-size: clamp(24px, 2.5vw, 48px);
  }
  &__right_menu {
    display: flex;
    gap: clamp(10px, 5vw, 44px);
    align-items: center;
    margin-right: 30px;
  }
}
