/**
 * src/entities/favorite/ui/FavoriteButton.module.css
 *
 * @format
 */

.button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.1s ease;
}
.button:hover:not(:disabled) {
  transform: scale(1.1);
}
.button:disabled {
  opacity: 0.5;
  cursor: default;
}
